.nproductos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0%;
    padding: 0%;
    
   
    
}
.o_card{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 20rem;
    min-height: 15rem;
    margin: 1rem 4rem 3rem 4rem;
    padding: 0%;
   

}
.fonttxt{
    font-family: Roboto, sans-serif;
    font-weight:300;
}
