.nproductos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0%;
    padding: 0%;
    
   
    
}
.o_card{
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0rem 3rem 0rem;
    padding: 0%;
    
 
}
.card{
    max-width: 20rem;
    max-height: 16rem;
    border-style: none;
    margin: 1rem;
   
}
.fonttxt{
    font-family: Roboto, sans-serif;
    font-weight:300;
}
