
.o-nav{
    width: 97.9%;
    height: 3rem;
    background-color: rgba(251, 116, 62, 1);
    margin: -1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;    
    padding-left: 2rem;
    padding-right: 2rem;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-logo{
    height: 3.5rem;
    width: 14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.o-buscar{
height: 3.5rem;
width: 35%;
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 10rem;
}
#buscar{
    height: 1rem;
    width: 90%;
    border-radius: 15px;
    border-color: white;
    outline: none;
    padding: .5rem;
    border: 0;
}

#o-logo1{
    height: 2.2rem;
    width: 6rem;
    padding: 0.5rem;
}
.o-logo2{
    height: 1.5rem;
    width: 6.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/** **/
.o-enlaces{
    height: 5rem;
    width: 100%;
    margin: -1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-enlaces2{
    height: 2.5rem;
    width: 30%;    
    display: flex;
    justify-content: space-around;
    margin-left: 9rem;
    align-items: center;
}
h3{
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-publicidad{
    height: 27rem;
    width: 101%;
    margin: -1rem;
    display: flex;
    justify-content: center;

    clip-path: inset(0px 0px 7px 0px);
}
.o-productos{
    height: 40rem;
    width: 101%;
    margin: -1rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;    
}
.o-container{
    display: flex;
    justify-content: space-between;
    height: 7rem;
    width: 90%;
    padding: 1rem;
    margin-top: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-productos1{
    height: 20rem;
    width: 30rem;
    display: flex;
    
    flex-direction: column;
}

#ourProducts{
    border-radius: 20px;
}
h3{
    font-size: 2rem;
}
#p-white{
    
    color: white;
    position: absolute;
    font-size: 2rem;
    padding-left: 2rem;
}


.o-info{
    height: 22rem;
    width: 99%;
    margin: -1rem;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;    
    justify-content: space-around;
    margin-bottom: 4rem;


}
.o-quienes{
    height: 5rem;
    width: 30%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
}
h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
#p-orange{
    font-size: 1rem;
    color: rgba(251, 116, 62, 1);
}
#p-black{
    color: black;
}
p{
    color: white;
}
.o-footer{
    width: 100.4%;
    height: 15rem;
    background-color: rgba(251, 116, 62, 1);
    margin: -1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.o-texto{
    width: 83%;
    height: 10rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
}

.o-redes{
    width: 13rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.o-enlaces3{
    width: 120%;
    height: 3;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: flex-start;   
   
}

#redes{
    margin: .5rem;
}

.o-graddy{
    margin-top: 2rem;
    font-size: 1rem;
    padding-left: 10rem;

}

.o-ofertas{
    height: 18rem;
    width: 101.2%;
    background-color: rgb(254, 245, 190, 30%);
    margin: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-filtrar{
    height: 4.5rem;
    width: 94.9%;
    margin: -1rem;
    background-color: rgb(254, 245, 190, 30%);
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;    
    padding-left: 7.5rem;
    margin-top: 1rem;
    
}
.o-corredor{
    height: 3rem;
    width: 100rem;    
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.o-pasillo{
    height: 1rem;
    width: 4.5rem;
    background: rgb(222,222,222);
    background: linear-gradient(180deg, rgba(222,222,222,1) 24%, rgba(106,225,249,0) 100%);
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.o-pasillox{
    height: 1rem;
    width: 8rem;
    background: rgb(222,222,222);
    background: linear-gradient(180deg, rgba(222,222,222,1) 24%, rgba(106,225,249,0) 100%);
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-clasificacion{
    height: 40rem;
    width: 101.2%;
    margin: -1rem;
    background-color: rgb(254, 245, 190, 30%);
    border-top-style: groove;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
   
}


.o-frutas{
    height: 17rem;
    width: 70%;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.o-carnes{
    height: 15rem;
    width: 70%;
    background-color: blue;
    border-radius: 2rem;
}

.o-containerr{
    display: flex;
    justify-content: space-between;
    height: 7rem;
    width: 90%;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#o-relleno{
    height: 5rem;
    width: 101%;
    margin: -1rem;
    background-color: rgb(254, 245, 190, 30%);
    margin-top: 1rem;
}

/* Footer */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 20rem;
    background:rgba(251, 116, 62, 1);
    padding-right: 5rem;
    margin: -1rem -1rem -1rem -1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    
}
.column{
    padding-left: 1rem;
    align-items: center;
}
.column-title{
    font-size: 1rem;
}

.redes-sociales-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
    width: 100%;
}
.derechos{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
 margin-top: -1rem;
   padding-left: 1rem;
    
   
}


.derechos-Minticris{
    color:white;
   
}
.icon{
    width: 2rem;
    height: 2rem;
}
.o-list-icon-item{
    margin-right: 5rem;
}

.card-text{
    font-size: 1rem;
    
}
a{
    color: white;
    text-decoration: none;

}
li{
    margin-top: 1rem;
    margin-left: -2rem;
    
}

/* sfdsfsfdsfdsfdsfsf */
/* .o-nav{
    height: 3rem;
    background-color: rgba(251, 116, 62, 1);
    margin: -1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;    
    padding-left: 2rem;
    padding-right: 2rem;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.o-logo{
    height: 3.5rem;
    width: 14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

#o-logo1{
    height: 2.2rem;
    width: 6rem;
    padding: 0.5rem;
}
.o-logo2{
    height: 1.5rem;
    width: 6.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.o-buscar{
    height: 3.5rem;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10rem;
    }
.o-enlaces{
    height: 5rem;
    
    margin: -1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-enlaces2{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    width: 30%;    
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
#p-orange{
    font-size: 1rem;
    color: rgba(251, 116, 62, 1);
    
    
}
.actual-position{
    text-decoration: underline rgba(251, 116, 62, 1);
    
    
    } */