  
/* Footer */ 
  body{
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    
  } 

.containerPRO{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    padding-left: 1rem;
    align-items: center;
}
.column-title{
    font-size: 1rem;
}

.redes-sociales-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
    width: 100%;
}
.a{
    color:black;
}
.derechos{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
 margin-top: -1rem;
   padding-left: 1rem;
    
   
}

.derechos-Minticris{
    color:white;
   
}
.icon{
    max-width: 2rem;
    max-height: 2rem;

}
.icony{
    max-width: 2rem;
    min-height: 2.8rem;
}

.card-text{
    font-size: 1rem;
    
}
li{
    color: white;
    text-decoration: none;
    line-height: 2.5rem;

}

ul{
    list-style: none;
} 
footer{
    background:rgba(251, 116, 62, 1);
}
a{
    color: white;
}
h5{
    color: white;
    font-size: 1rem;
    
    
}
.footer-copyright{
    color: white;
    
}
.font-weight{
    font-weight:400;
}
.o-list-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding:0;
}
.list-unstyled{
    justify-content: space-between;
}

.mx-center{
   text-align: center;
}
.o-list-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}