h2,h4{
    font-family: Roboto, sans-serif;
    font-weight:300;
    
  }
  h2{
      margin-bottom: 1rem;
  }

.contacto-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background: #EDEDED;
    padding-bottom: 2rem;
    
    padding-top: 2rem;
    overflow-x: hidden;
    
    }

    .locales{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
    }

    
    
.contactenos{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: left;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.019);

    margin-top: 1.95rem;
    
    
    padding:2rem 2rem 2rem 2rem;
    
    
}


.o-link-container {
    display: flex;
    align-items: left;
justify-content: left;
    margin:1rem 4rem 1rem 0rem;

    

   
}
.o-btn {
    
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    text-decoration: none;
    background: #3483FA; 

    
}


iframe{
   
    max-height: 36.5rem;
    min-height: 35vw;
  

 
    min-width: 50vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
    
   
}
.credenciales{
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
 
    }



.input{
width: 100%;
max-width: 20rem;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom: 1px solid #a8a8a8;
}
.desc{
    height: 6rem;
    border: 1px solid #a8a8a8;

    
}

