body{
    background:#EDEDED;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.header-nav{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    background:rgba(251, 116, 62, 1);
    height: 6rem;
    padding-left: -2rem;
    margin: -1rem -1rem 1rem -1rem;

   width: 100%;
    height: 100%;
    padding-right: 5rem;

}
.topnav-container{
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
  
    border-bottom: 0.009rem solid rgb(128, 123, 123);
    border-bottom-style:ridge;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
    width: 100%;
    
    
 }

.actual-position{
text-decoration: underline rgba(251, 116, 62, 1);


}



.o-nav-contactenos{

    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 1rem;
   
    padding-bottom: 6rem ;
    background: #EDEDED;
    width: 100%;

    }

    
    
.contactenos{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
    border: 0,2px solid #000;
    padding:2rem 0rem 2rem 2rem;
    width: 30rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}


.o-link-container {
    display: flex;
    justify-content: space-between;
    min-width: 15rem;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
    margin-right: 4rem;
}
.o-btn {
    width: 40%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 1rem 0.5rem;
    text-decoration: none;
    background: #3483FA;   
}
.locales{
    display: flex;
    margin-top: -2rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 45%;

}

iframe{
    width: 100%;
    height: 40rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
    border: 0,2px solid #000;

}
.credenciales{
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    margin-right: 2rem;
    padding-right: 2rem;
    }

.input{

width: 100%;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom: 1px solid #a8a8a8;
height: 2rem;
}
.desc{
    height: 6rem;
    border: 1px solid #a8a8a8;

    
}
.buscador-container{
    margin-left: 1rem;
  
    width: 30rem;
   
}




.derechos{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
 margin-top: -1rem;
   padding-left: 1rem;
    
   
}


.derechos-Minticris{
    color:white;
   
   


}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 20rem;
    background:rgba(251, 116, 62, 1);
    padding-right: 5rem;
    margin: -1rem -1rem -1rem -1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    
}
.column{
    padding-left: 1rem;
    align-items: center;
}
.column-title{
    font-size: 1rem;
}



.card-text{
    font-size: 1rem;
    
}
a{
    color: white;
    text-decoration: none;

}
li{
    margin-top: 1rem;
    margin-left: -2rem;
    
}
.icon{
    width: 2rem;
    height: 2rem;
}
#p-orange{
    font-size: 1rem;
    color: rgba(251, 116, 62, 1);
    
    
}


.ingresar-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-end;
    
    


}
.redes-sociales-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
    width: 100%;
}
.o-nav{
    
    height: 3rem;
 
    background-color: rgba(251, 116, 62, 1);
    margin: -1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;    
    padding-left: 2rem;
    padding-right: 2rem;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-logo{
    height: 3.5rem;
    width: 14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.o-buscar{
height: 3.5rem;
width: 35%;
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 10rem;
}
#buscar{
    height: 1rem;
    width: 90%;
    border-radius: 15px;
    border-color: white;
    outline: none;
    padding: .5rem;
    border: 0;
}

#o-logo1{
    height: 2.2rem;
    width: 6rem;
    padding: 0.5rem;
}
.o-logo2{
    height: 1.5rem;
    width: 6.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/** **/
.o-enlaces{
    height: 5rem;
 
    margin: -1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-enlaces2{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    width: 30%;    
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
h3{
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.o-list-icon-item{
    margin-right: 5rem;
}
.whatssap-icon-container{
    display: flex;
    flex-direction: row;
}
.whatsapp{
    margin-top:0.5rem;
    margin-left: 1rem;
}