body{
    background:#EDEDED;
    
}
.header-container{
    display: flex;
    align-items: center;
    background:rgba(251, 116, 62, 1);;
    height: 14rem;
    width: 100vw;
    padding-left: -2rem;
    margin-top:-5rem;
    margin-left: -1rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    
}


.o-logo{

padding: 1rem;
margin-top: 4rem;
width: 10rem;
height: 5rem;

}

.o-container-login{
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 11rem ;
  background: #EDEDED;
  width: 100%;
  
  

    }
    
.login{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    position:absolute;
    background: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
    border: 0,2px solid #000;
    padding:2rem 2rem 2rem 2rem;
    margin-top: 10rem;
}


.o-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
   
}
.o-btn {
    width: 100%;
    
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    
    text-decoration: none;
    background: #3483FA;

    
}
.CrearCuenta{
    text-decoration:none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #fff;
}

.registro{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    
    
    }
.input{

width: 100%;
height: 2rem;
border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom: 1px solid #a8a8a8;
}

.registro input{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.derechos{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;

    margin-top: 6rem;
   
}


.derechos-Minticris{
color: black;
font-family: 'Roboto', sans-serif;

}