.fondo_quienes{
        

        background: url("../../img/fondo3.jpg") no-repeat center center fixed; 
        


  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     
}

.fondo_quienes:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 8rem;
    background: #5a5d72;
    opacity: 0.8;
    z-index:0;
    height: 77rem;
}
.ol{
   
    height: 100rem;
   
}

.ajam{

 max-width: 30rem;
 max-height: 30rem;
 
  
}
.chachara{
    font-size: 1rem;
    padding-bottom: 5rem;
}
.card-header{
    text-align: center;
}


.Contenedor-aniamciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
    
}
.contenedortexto{
    
    max-width: 30rem;
    float: right;
    z-index: 9999;
}
.contenedortexto2{
    justify-content: right;
    max-width: 30rem;
    float: right;
    z-index: 9999;
}