
.vacio{
    height: 10rem;
}
.vacio2{
  height: 2rem;
}
.ImagensitadeFondo{
  width: 100%;
  min-height: 40rem;
}

.bannersito-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
    background: url("../../img/principalBanner.png") center top fixed; 
  /* Full height */

  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  

  background-size: cover;

    
}
.Contenedor-quienes{
  display: flex;
  flex-direction: column;
  margin-bottom: 0rem;
}



.chachara{
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
 
}
.card-header{
    text-align: center;
}


.Contenedor-info{
    display: flex;
    flex-direction:row;
    width: 100%;
   
    
}
.contenedortexto{
 max-width: 40rem;
 max-height: 40rem;
 background-color: rgb(255, 255, 255, 0.8);
  margin: 2rem;
}
.contenedortexto2{

  max-width:30rem ;

  background-color: rgb(255, 255, 255, 0.8);
  float:left;
  margin: 2rem;
 }

.contenedortexto3{

  max-width:30rem ;
  background-color: rgb(255, 255, 255, 0.8);
  float: right ;
  margin: 2rem;
 

 }

.card-body{
    word-wrap: break-word;
    opacity:1!important;
}
.ChacharaTitulo{
  background-color: rgb(255, 255, 255,0.85);
  text-decoration: orange underline;
  text-underline-position: under;
  font-weight: bolder;
 
}
