#navCorrected{
    max-width: 11rem;
}
.nav-link{
   
    color: rgba(251, 116, 62, 1);
    font-weight:400;
    
}
.nav-link:hover{
    text-decoration: underline;
}


.navscroll{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 1;
    top: 0;

    
}

/* #navscroll {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: white;
    position: fixed ;
    z-index: 1;
    width: 100%;
    transition: top 0.3s;
  } */