#navCorrected{
    max-width: 11rem;
}
.nav-link{
   
    color: rgba(251, 116, 62, 1);
    font-weight:400;
    
}
.nav-link:hover{
    text-decoration: underline;
}


.navscroll{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 1;
    top: 0;

    
}
.nav-item a.active {
    color: rgb(95, 95, 167);
    text-decoration: underline;
    
  }

